<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxz.order">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.OrderPagingNetActivity"></activity>
        <activity android:name=".ui.activity.OrderDataBiningActivity" />
        <activity android:name=".ui.activity.OrderHttpActivity" />
        <activity android:name=".ui.activity.OrderPagingActivity" />
        <activity
            android:name=".ui.activity.OrderScrollingActivity"
            android:label="@string/title_activity_scrolling" />
        <activity android:name=".ui.activity.OrderCoordinatorActivity" />
        <activity android:name=".ui.activity.OrderExtendActivity" />
        <activity android:name=".ui.activity.OrderCarViewActivity" />
        <activity
            android:name=".ui.activity.OrderMainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>